
.versaslider {
  &-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &-previous-wrapper {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px;
    }

    &-next-wrapper {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px;
    }

    &-bullet-wrapper {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      padding: 10px;
    }

    &-previous-button,
    &-next-button{
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: block;
      background-color: $button-bg-color;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
      &:hover{
        background-color: $button-hover-bg-color;
      }
    }

    &-previous-button{
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' version='1.1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m21.835 3.7426-11.708 11.708 12.807 12.807' fill='none' stroke='%23000' stroke-width='3'/%3E%3C/svg%3E");  
    }

    &-next-button{
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' version='1.1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m10.165 3.7426 11.708 11.708-12.807 12.807' fill='none' stroke='%23000' stroke-width='3'/%3E%3C/svg%3E");
      }

    &-bullet{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      background-color: $bullet-bg-color;
      margin: 2px;

      &:hover{
        background-color: $bullet-hover-bg-color;
      }

      &.active{
        background-color: red;
      }
    }
  }
}